<%- include("partials/header.ejs") %>
    <h1>Sup... Time to <%= message%></h1>
    <p><%= drink.idDrink%><br /><%= drink.strDrink %></p>
    <img src="<%-drink.strDrinkThumb%>" alt="Some booze pic" />%>

<%- include("partials/footer.ejs") %>